/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1, h2, h3, h4, h5, h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

// TODO: redefine content layout.


/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.


/*****************************************************************************
* Projects
*****************************************************************************/
// Projects: uniform card sizes, cropped thumbnails, smaller titles
.project-item {
  .card {
    max-height: 400px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
  }

  .project-thumb-img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    display: block;
  }

  .card-body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0.75rem;
    overflow: hidden;
  }

  .card-title {
    font-size: 0.95rem;
    margin: 0 0 0.5rem 0;
    line-height: 1.15;
    /* Allow wrapping so full title is visible; limit to three lines visually */
    display: block;
    max-height: calc(3 * 1.15rem);
    overflow: visible;
    word-break: break-word;
  }

  .card-text { display: none; }
}
